html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: PingFang TC;
  font-size: 24px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.header .buttonBar, .logoType{
  display: none;
}

.header .logo{
  width: 220px;
  display: block;
}

.header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .link{
  padding-right: 60px;
}

.header a{
  text-decoration: none;
  color: #3F5D45;
  font-size: 16px;
  font-weight: bold;
}

.header a:hover{
  color: gray;
  transition: 0.1s;
}

.header ul img{
  display: block;
  padding-left: 19px;
}

.header ul img:hover{
  opacity: 0.5;
}

/*------ header RWD ------*/
@media (max-width:768px){
  .container{
    width: 100%;
  }
  .header{
   justify-content: space-around;
  }
  .header .logo{
    display: none;
  }
  .header .buttonBar{
    display: block;
    cursor: pointer;
  }
  .header .logoType{
    display: block;
    width: 30%;
  }
  .header ul{
    width: auto;
  }
  .header .link{
    display: none;
  }
  .header ul img{
    padding: 0;
  }
}

.content{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.menu{
  width: 32%;
}

.menu ul{
  text-align: center;
  font-weight: bold;
}

.menu h3{
  text-align: center;
  font-weight: bold;
  color: #EAF0ED;
  background: #3F5D45;
  padding: 16px 0;
}

.menu li{
  background: #ffffff;
  padding: 16px 0;
  border: 1px solid #EAF0ED;
}

.menu a{
  text-decoration: none;
  color: #3F5D45;
  display: block;
}

.menu .menu-click{
  background: #EAF0ED;
}

.menu li:hover{
  background: #EAF0ED;
  transition: 0.2s;
}

/*------ menu RWD ------*/
@media (max-width:768px){
  .content{
    flex-direction: column;
  }
  .menu{
    width: auto;
  }
}

.menuProducts{
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productList{
  width: 300px;
  margin-bottom: 20px;
  position: relative;
}

.productList .todayChoice{
  color: #EAF0ED;
  background: #3F5D45;
  writing-mode: vertical-lr;
  font-size: 16px;
  font-weight:  bold;
  padding: 10px;
  text-align: center;
  letter-spacing: 6px;
  position: absolute;
  top: 0;
  left: 20px;
}

.productList .favorite img{
  display: block;
  position: absolute;
  top: 19px;
  right: 22px;
}

.productList .productPic img{
  display: block;
}

.productList .productIntro{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #3F5D45;
  text-align: center;
  border: 1px solid #EAF0ED;
}

.productList .productIntro h3{
  padding: 14px 33px;
  border-right: 1px solid #EAF0ED;
}

.productList .productIntro span{
  font-weight: bold;
  padding: 14px 20px 14px 25px;
}

.productList .add-shoppingCart{
   width: 100%;
   color: #3F5D45;
   font-family: PingFang TC;
   font-size: 24px;
   font-weight: bold;
   border: none;
   background: #EAF0ED;
   padding-top: 16px;
   padding-bottom: 16px;
   cursor: pointer;
}

.productList .add-shoppingCart:hover{
  color: #ffffff;
  background: red;
  transition: 0.5s;
}

/*------ menuProducts RWD ------*/
@media (max-width:768px){
  .menuProducts{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .productList{
    justify-content: center;
    margin: 0 5px 30px;
  }
}

.page{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 60px;
}

.page ul{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAF0ED;
}

.page a{
  width: 60px;
  height: 60px;
  text-decoration: none;
  color: #3F5D45;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .page-click{
  color: #EAF0ED;
  background: #3F5D45;
  font-weight: bold;
}

.page li + li{
  border-left: 1px solid #EAF0ED;
}

.page li:nth-child(1) :hover, .page li:nth-child(n + 3) :hover
{
  background-color: #eaf0ed;
  transition: 0.2s;
}

/*------ page RWD ------*/
@media (max-width:768px){
  .page{
    justify-content: center;
  }
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3F5D45;
  padding: 43px 12%;
}

.footer-top ul{
  display: flex;
  align-items: center;
}

.footer-top img{
  width: 40px;
}

.footer-top h2{
   color: #EAF0ED;
   line-height: 29px;
   padding-left: 20px;
}

.footer-email form{
  display: flex;
}

.footer-email .inputEmail{
  border: none;
  background: #EAF0ED url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true) no-repeat 20px 16px;
  padding: 16px 30px 16px 64px;
} 

.footer-email .submit{
  border: none;
  background: #FFE180;
  padding: 16px 20px;
}
/*------ footer-top RWD ------*/
@media (max-width:768px){
  .footer-top{
     flex-direction: column;
     align-items: center;
     padding: 35px 0;
  }
  .footer-email{
     margin-top: 30px;
  }
}

.footer-information{
  display: flex;
  justify-content: space-between;
  background: #EAF0ED;
  padding: 30px 12%;
}

.footer-information .left-Data{
  display: flex;
  flex-direction: column;
}

.left-Data img{
  width: 171px;
}


.footer-information .aboutData{
  font-size: 16px;
  color: #3F5D45;
  line-height: 24px;
  margin-top: 115.5px;
}

.footer-information .imgData{
  display: flex;
}

.footer-information .imgData li{
  width: 32px;
  margin-top: 32px;
  margin-right: 8px;
}

.footer-information .right-Data{
  display: flex;
  flex-direction: column;
  color: #3F5D45;
}

.footer-information .right-Data h3{
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  text-indent: -11px;
  writing-mode: vertical-rl;
  letter-spacing: 6.5px;
}

.footer-information .right-Data p{
  font-family: Times;
  font-size: 16px;
  line-height: 19px;
  margin-top: 46px;
}

/*------ footer-information RWD ------*/
@media (max-width:768px){
    .footer-information{
        flex-direction: column;
    }
    .footer-information .left-Data .aboutData{
        margin-top: 39.5px;
    }
    .footer-information .left-Data .imgData li{
        margin-top: 37px;
    }
    .footer-information .right-Data{
        align-items: flex-start;
    }
    .footer-information .right-Data h3{
        display: none;
    }
  .footer-information .right-Data p{
        margin-top: 23px;
    }
}