<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>甜點電商</title>
  <link rel="stylesheet" href="../css/product.css">
</head>
<body>
 <div class="container">
  <div class="header">
    <img class="buttonBar" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/dehaze-24px.png?raw=true" alt="dehaze-24px.png">
    <img class="logo" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg" alt="logo-all-dark.svg">
    <img class="logoType" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg" alt="logotype-sm-dark.svg">
    <ul>
      <li class="link"><a href="#">首頁</a></li>
      <li class="link"><a href="#">甜點</a></li>
      <li class="link"><a href="#">登入</a></li>
      <li><a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/shopping_cart.png?raw=true" alt="shopping_cart.png"></a></li>
    </ul>
  </div>
  <div class="banner">
    <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true" alt="banner.png">
  </div>
  <div class="content">
    
    <div class="menu">
      <h3>甜點類別</h3>
      <ul>
        <li class="menu-click"><a href="#">所有甜點（48）</a></li>
        <li><a href="#">本日精選（10）</a></li>
        <li><a href="#">人氣推薦（26）</a></li>
        <li><a href="#">新品上市（12）</a></li>
      </ul>
    </div>
    
   <div class="menuProducts">
    <div class="productList">
      <div class="todayChoice">本日精選</div>
      <div class="favorite">
        <a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true" alt="favorite_border.png"></a>
      </div>
      <div class="productPic">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-1.png?raw=true" alt="p-1.png">
      </div>
      <div class="productIntro">
        <h3>焦糖馬卡龍</h3>
        <span>NT$ 450</span>
      </div>
      <div class="productCar">
        <input type="button" class="add-shoppingCart" value="加入購物車">
      </div>
    </div>
    
    <div class="productList">
      <div class="todayChoice">本日精選</div>
      <div class="favorite">
        <a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true" alt="favorite_border.png"></a>
      </div>
      <div class="productPic">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-2.png?raw=true" alt="p-2.png">
      </div>
      <div class="productIntro">
        <h3>焦糖馬卡龍</h3>
        <span>NT$ 450</span>
      </div>
      <div class="productCar">
        <input type="button" class="add-shoppingCart" value="加入購物車">
      </div>
    </div>
    
    <div class="productList">
      <div class="todayChoice">本日精選</div>
      <div class="favorite">
        <a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true" alt="favorite_border.png"></a>
      </div>
      <div class="productPic">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-3.png?raw=true" alt="p-3.png">
      </div>
      <div class="productIntro">
        <h3>焦糖馬卡龍</h3>
        <span>NT$ 450</span>
      </div>
      <div class="productCar">
        <input type="button" class="add-shoppingCart" value="加入購物車">
      </div>
    </div>
    
    <div class="productList">
      <div class="todayChoice">本日精選</div>
      <div class="favorite">
        <a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true" alt="favorite_border.png"></a>  
      </div>
      <div class="productPic">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-4.png?raw=true" alt="p-4.png">
      </div>
      <div class="productIntro">
        <h3>焦糖馬卡龍</h3>
        <span>NT$ 450</span>
      </div>
      <div class="productCar">
        <input type="button" class="add-shoppingCart" value="加入購物車">
      </div>
    </div>
    
    <div class="productList">
      <div class="todayChoice">本日精選</div>
      <div class="favorite">
        <a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true" alt="favorite_border.png"></a>
      </div>
      <div class="productPic">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-5.png?raw=true" alt="p-5.png">
      </div>
      <div class="productIntro">
        <h3>焦糖馬卡龍</h3>
        <span>NT$ 450</span>
      </div>
      <div class="productCar">
        <input type="button" class="add-shoppingCart" value="加入購物車">
      </div>
    </div>
    
    <div class="productList">
      <div class="todayChoice">本日精選</div>
      <div class="favorite">
        <a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true" alt="favorite_border.png"></a>
      </div>
      <div class="productPic">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-6.png?raw=true" alt="p-6.png">
      </div>
      <div class="productIntro">
        <h3>焦糖馬卡龍</h3>
        <span>NT$ 450</span>
      </div>
        <input type="button" class="add-shoppingCart" value="加入購物車">
    </div>
   </div>
    
  </div> 
   <div class="page">
      <ul>
        <li><a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true" alt="arrow_left.png"></a></li>
        <li><a class="page-click" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true" alt="arrow_right.png"></a></li>
      </ul>
   </div>
  </div>
 <div class="footer">
  <div class="footer-top">
    <ul>
      <li><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-light.svg" alt="logo-light.svg"></li>
      <li><h2>訂閱你我的甜蜜郵件</h2><li>
    </ul>
   <div class="footer-email">
    <form action="#">
     <input type="text" class="inputEmail" name="email">
     <input type="image" class="submit" name="button" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true">
    </form>
   </div>
  </div>
  <div class="footer-information">
    <div class="left-Data">
      <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg" alt="logotype-sm-dark.svg">
      <ul class="aboutData">
        <li>07-1234-5678</li>
        <li>sweetaste@email.com</li>
        <li>800 高雄市新興區幸福路 520 號</li>
     </ul>
     <ul class="imgData">
        <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/ic-line%40.svg" alt="ic-line%40.svg"></a></li>
        <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/ic-facebook.svg" alt="ic-facebook.svg"></a></li>
     </ul>
    </div>
    <div class="right-Data">
      <h3>今天是個─<br>吃甜點的好日子。</h3>
      <p>© 2018 Sweetaste* All Rights Reserved</p>
    </div>
  </div>
 </div>
</body>
</html>